# Logs
logs
*.log
npm-debug.log*

# praktikum-key.pub

# Dependency directory
node_modules
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# testing
/coverage

# production
/build

.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
