.header__paragraph {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  align-self: flex-start;
  padding-top: 2px;
  margin: 0;
}

@media (max-width: 767px) {
  .header__paragraph {
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media (max-width: 400px) {
  .header__paragraph {
    font-size: 8px;
    line-height: 10px;
  }
}